html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif !important;
  background-color: #E5E5E5 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.primary-bg {
  background-color: #222831 !important;
  color: white !important;
}

.white-bg {
  background-color: #fff !important;
  color: black
}

.round-container {
  border-radius: 20px;
}

small {
  color: #7A7886;
}

.error-message {
  color: #FF5B37;
}

.important {
  cursor: pointer;
}